@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.eot');
    src: url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.woff') format('woff'),
        url('../fonts/icomoon.ttf') format('truetype'),
        url('../fonts/icomoon.svg?#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    font-size: 12vw;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /*margin: 0 5vw 0 5vw;*/
    /*opacity: .6;*/
    position: relative;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-opac-sun:before {
    content: "\e90a";
}

.icon-opac-clouds:before {
    content: "\e903";
}
.icon-opac-lightning:before {
    content: "\e904";
}
.icon-opac-snow:before {
    content: "\e905";
}
.icon-opac-rain:before {
    content: "\e906";
}
.icon-opac-cloud:before {
    content: "\e907";
}
.icon-opac-raindrop:before {
    content: "\e908";
}
.icon-raindrop:before {
    content: "\e909";
}
.icon-cloud-fog:before {
    content: "\e900";
}
.icon-opac-cloud2:before {
    content: "\e901";
}
.icon-opac-cloud3:before {
    content: "\e902";
}
.icon-sun-over-cloud:before {
    content: "\f002";
}
.icon-sun:before {
    content: "\f00d";
}
.icon-clouds:before {
    content: "\f013";
}
.icon-thunder:before {
    content: "\f016";
}
.icon-rain2:before {
    content: "\f01a";
}
.icon-drizzle:before {
    content: "\f01b";
}
.icon-thunder-rain:before {
    content: "\f01d";
}
.icon-heavy-thunder:before {
    content: "\f01e";
}
.icon-celsius:before {
    content: "\f03c";
}
.icon-cloud4:before {
    content: "\f041";
}
.icon-wind:before {
    content: "\f050";
}
.icon-temperature:before {
    content: "\f055";
}
.icon-snow2:before {
    content: "\f076";
}
.icon-sun-above-cloud:before {
    content: "\f07d";
}
.icon-umbrella:before {
    content: "\f084";
}
.icon-flag:before {
    content: "\f0cc";
}

