body, html {
  padding: 0;
  overflow: hidden;
}

body {
  color: #606c76;
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  /*font-size: 1.6em;*/
  font-weight: 300;
  letter-spacing: 0.01em;
  line-height: 1.6;  
  /*background: rgba(241, 226, 215, 0.2);*/
}
/*
.square {
  width:      50px;
  height:     50px;
  background: #F64040;
  position:   absolute;
  top:        10px;
  left:       50%;
  margin-left: -25px;
  margin-top:  -25px;
}*/

input{
  width: 350px;
  margin: 2em .5em .5em 0;
  font-size: 1.5em;
  padding: 0;
  border: 0;
  border-bottom: 1px solid #ddd;
  outline: 0;
  text-align: center;
  background-color: rgba(0,0,0,0);
}

.box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.weather-box{
  margin: 30px;
  width: 100%;
  display: flex;
/*  flex-direction: column;*/
  flex-wrap: wrap;
  justify-content: space-between;
  /*align-items: center;*/
  color: #aaa;
  height: 70%;
}

.bottom{
  align-self: flex-end;
}

.top{
  align-self: flex-start;
}

.center{
  align-self: center;
}

@keyframes goingLeft{
  from{
    left: 0;
  }
  to{
    left: -60%;
  }
}

@keyframes goingRight{
  from{
    left: 0;
  }
  to{
    left: 60%;
  }
}

@keyFrames flashingThunder{
  0%{
    opacity: 0;
  }
  3%{
    opacity: .6;
  }
  5%{
    opacity: 0;
  }
  7%{
    opacity: .6;
  }
  9%{
    opacity: 0;
  }
}

@keyframes fallingRain{
  from{
    top: 0;
    left: 0;
  }
  to{
    top: 100%;
    left: 100%;
  }
}

@keyframes pulsingSun{
    0%{
      transform: scale(1);
    }
    100%{
      transform: scale(1.75);
    }
}

@keyframes rotatingSun{
/*  from{
    transform: rotate(0deg);
  }*/
  to{
    transform: rotate(360deg);
  }
}

.animation-rotating{
  animation-name: rotatingSun;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  /*animation-direction: alternate;*/
  animation-timing-function: linear;
}

.animation-sun-pulse{
  animation-name: pulsingSun;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in;
}

.animation-left{
  animation-name: goingLeft;
  animation-iteration-count: infinite;
  animation-direction: alternate;  
  animation-timing-function: ease-in-out;
}

.animation-right{
  animation-name: goingRight;
  animation-iteration-count: infinite;
  animation-direction: alternate;  
  animation-timing-function: ease-in-out;
}

.animation-sun{
  animation-name: goingRight;
  animation-duration: 1200s;
  animation-iteration-count: infinite;
  animation-direction: alternate;  
  animation-timing-function: ease-in-out;
}

.animation-thunder{
  animation-name: flashingThunder;
  animation-duration: 10s;
  animation-delay: 2s;
  animation-iteration-count: infinite;
}

.animation-rain{
  animation-name: fallingRain;
  /*animation-delay: 1s;*/
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  
  font-size: 40px;
  position: absolute;
}

.thin-wind{
  animation-duration: 37s;
}

.heavy-wind{
  animation-duration: 27s;
}

.super-heavy-wind{
 animation-duration: 17s; 
}

.icon-thunder{
  opacity: 0;
}

.giant-thunder{
  /*opacity: 0;*/
  font-size: 90vw;
  position: absolute;
  left: 20vw;
  /*top: 1vh;*/
  z-index: -1;
}

@media (min-width: 640px){
  .giant-thunder{
    /*opacity: 0;*/
    font-size: 45vw;
    position: absolute;
    left: 35vw;
    /*top: 1vh;*/
    /*z-index: -1;*/
  }  
}


.far-away{
  font-size: 5vw;
  margin: 0;
  /*animation-duration: 40s;*/
}

.giant{
  font-size: 12vw;
}

.dark-sky{
  background-color: #272727;
}

.light-sky{
  background: rgba(241, 226, 215, 0.2);
}

.hmargin{
  margin-bottom: 100px;
  /*margin-top: 100px;*/
}